@import "tailwindcss";
@tailwind utilities;
@import "./theme.css";

@layer components {

    .image {
        @apply md:w-64 md:h-64 w-48 h-48 rounded-full border-8 border-solid border-sky-800/50
    }

    /* Home */

    .image-container {
        @apply flex justify-center items-center  p-3 m-4
    }
    .button-container-mobile {
        @apply flex justify-center items-center p-3 m-4
    }
    .button-container {
        @apply flex md:p-3 md:m-4
    }
    .text-container {
       @apply flex ml-10 justify-center text-center mt-3 md:pr-4
    }
}