@import "tailwindcss";
@import "./theme.css";
@import "./HomeSections.css";
@import "./components.css";
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
    transition: background-color 3s, color 0.3s;
}

html::-webkit-scrollbar {
	width: 0.30rem;
}

html::-webkit-scrollbar-thumb {
    background: #fffdbe;
    border-radius: 8px;
}

html::-webkit-scrollbar-track {
    background: var(--color-gray-700);
    border-radius: 8px;
}

